doctype html
html 
  head
    title TicketTracker
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href="./main.css" async)
    link(rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
          type="text/css")      
  body
    #root
    script(type="text/javascript" src = "./index.js")
