*,html
  font-family: 'Roboto', sans-serif
  background-color: #E8E8E8
  margin: 0
  padding: 0

.screen
  margin: 4vh
  height: 90vh
  width: 77.5vh
  background-color: #CF2256
  border-radius: 10px
  -webkit-box-shadow: 1px 24px 24px -11px rgba(0,0,0,0.35)
  -moz-box-shadow: 1px 24px 24px -11px rgba(0,0,0,0.35)
  box-shadow: 1px 24px 24px -11px rgba(0,0,0,0.35)

.dash_con
  background-color: white
  position: fixed
  top: 330px
  width: 77.5vh
  height: 33vh
  border-radius: 0 0 10px 10px

h2
  background-color: white
  margin: 10px 10px 10px 0
  padding: 20px

.container
  background-color: white
  display: flex


.effect
  margin-top: 28px
  margin-left: -14px
  height: 30px
  width: 200px
  border: none
  outline: none
  letter-spacing: 1px
  background-color: white
  border-color: inherit
  -webkit-box-shadow: none
  box-shadow: none
  font-size: 22px

.focus-border
  position: absolute
  bottom: 110px
  left: 46%
  width: 200px
  height: 2px
  z-index: 5

.effect ~ .focus-border:before,
.effect ~ .focus-border:after
  content: ""
  position: absolute
  bottom: 0
  left: 0
  width: 0
  height: 100%
  background-color: #3399FF
  transition: 0.4s

.effect ~ .focus-border:after
  left: auto
  right: 0

.effect:focus ~ .focus-border:before,
.effect:focus ~ .focus-border:after
  width: 50%
  transition: 0.4s
